<% @transactions.reverse.each do |t| %>
  <div class="transaction-item">
    <div class="transaction-stock-name">
      <%= t.shares_quantity > 0 ? "BUY" : "SELL" %>
      (<%= t.company.ticker_symbol %>)
    </div>
    <div class="transaction-stock-quantity">
      <%= pluralize(t.shares_quantity.abs, 'share') %> 
    </div>
    <div class="transaction-stock-price">
      <%= number_to_currency(t.price_per_share.abs) %>
    </div>
  </div>
<% end %>