<div class="container">
  <div class="wrapper transactions">
      <div class="header">
        <h1>Transactions</h1>
      </div>

      <div class="list-header"></div>

      <div class="transactions-list">
          <div class="transaction-item list-header">
            <div>Stock</div>
            <div>Quantity</div>
            <div>Price per Share</div>
          </div>

          <%= render_user_transactions(@transactions) %>
        </div>
  </div>
</div>
